h4 {
	color: #000000;
}

#uribar { 
	margin-bottom:0.5em; 
	width:100%; 
	display: table; 
	font-size: 1.2em; 
}
#uribar input { 
	font-size: 1em;
	border:0px;
	padding:2px;
	text-align:right;
	width:100%;
}
#uribar-uri {
	width: 100%;
	display: table-cell;
}
#uribar-link { 
	white-space:nowrap;
	padding-left:0.5em;
	display: table-cell;
}

#pagecontent .paragraph {
	font-family: verdana, sans-serif;
	font-size: 1.2em;
	margin-bottom: 1em;
	line-height: 150%;
	color: rgb(51, 51, 51);
}

table.datasotonacuk_modulelist {
	border-collapse: collapse;
}

table.datasotonacuk_modulelist th {
	background-color: #CFCFCF;
	font-family: sans-serif;
	text-align: left;
	font-size: 1.1em;
	padding-right: 16px;
}

table.datasotonacuk_modulelist td {
	border-top: solid 1px #CFCFCF;
}

table.datasotonacuk_searchresults tr td h4 {
	margin-top: 0px;
}

table.datasotonacuk_searchresults tr td {
	padding-bottom: 10px;
}

.datasotonacuk_rightsidebar {
	float: right;
	background-color: #fff;
	border-left: 10px solid white;
	border-bottom: 10px solid white;
	text-align: left;
	width: 300px;
}

.datasotonacuk_rightsidebar h3:first-child {
	margin-top: 0px !important;
	padding-top: 0px;
}

.datasotonacuk_rightsidebar img {
	border: solid 1px rgb(204, 204, 204);
}

#uos-sia-ls-canvas {
	overflow-y: auto;
	
}

#pagecontent td {
	vertical-align: top;
	padding-right: 5px;
}

.datasotonacuk_tabs {
	position: relative;
	display: block;
	width: 100%;
	height: 50px;
	clear: both;
	padding: 0px;
	margin: 0px;
	border-bottom: solid 1px rgb(204, 204, 204);
	margin-bottom: 8px;
	overflow: hidden;
}

.datasotonacuk_tabs ul {
	font-family: verdana,sans-serif;
	font-size: 1.2em;
	padding: 0px;
	margin: 0px;
}

.datasotonacuk_tabs ul li {
	border-top: solid 1px rgb(204, 204, 204);
	border-left: solid 1px rgb(238, 238, 238);
	border-right: solid 1px rgb(238, 238, 238);
	margin-top: 10px;
	list-style: none outside none;
	float: left;
	margin-right: 7px;
	position: relative;
	margin-bottom: 0px !important;
	line-height: 150%;
	background: url("http://www.southampton.ac.uk/assets/schools/design/images/cb3/bg_tabs.gif") repeat-x scroll 0% 0% transparent;
	padding-top: 0px;
	height: 50px;
}

.datasotonacuk_tabs ul li.tabcurrent {
	margin-top: 0px !important;
	background: url("http://www.southampton.ac.uk/assets/schools/design/images/cb3/bg_tabs_teal.gif") repeat-x scroll 0% 0% rgb(255, 255, 255) !important;
}

.datasotonacuk_tabs ul li a {
	display: block;
	font-family: georgia, serif;
	font-size: 13px;
	text-decoration: none;
	width: 80px;
	padding: 7px 10px;
	background-image: none !important;
	height: 33px;
}

#pagecontent h2 {
	margin-top: 10px;
}

iframe.widemap {
	width: 100%;
	height: 320px;
	border: solid 1px #000000;
}

.datasotonacuk_orgchart {
	font-size: 13px;
}

.datasotonacuk_orgchart li {
	color: #000000;
	list-style: disc inside none;
}

.datasotonacuk_orgchart li span {
	font-size: 11px;
}

ul.facilities {
	font-size: 1.2em;
	list-style: none outside none;
}

ul.facilities li {
	list-style: none outside none;
}

div.section-box {
	clear: both;
	min-height: 150px;
}

dt {
	font-weight: bold;
	margin-bottom: 5px;
}

dd {
	margin-bottom: 10px;
	margin-left: 0px;
}

#subject_uri {
	display: block;
	width: 100%;
	border: 0px;
	font-family: verdana, sans-serif;
	font-size: 1.2em;
	margin-top: 1em;
	margin-bottom: 1em;
	line-height: 150%;
	color: rgb(51, 51, 51);
	padding: 0px;
	border-collapse: collapse;
}

th {
	font-family: sans-serif;
	font-weight: normal;
	font-size: 1.2em;
}

table.roombookingtimetable {
	padding: 4px;
	border: solid 1px #000000;
	border-collapse: collapse;
}

table.roombookingtimetable td.booked {
	background-color: rgb(0, 124, 146);
	border-left: solid 1px rgb(0, 124, 146);
}

table.roombookingtimetable td.bookednotcentrallybookable {
	background-color: rgb(192, 192, 192);
	border-left: solid 1px rgb(192, 192, 192);
}

table.roombookingtimetable tr th {
	padding-right: 8px;
	border-right: solid 1px #000000;
	text-align: right;
}

table.roombookingtimetable tr:nth-of-type(1) th, table.roombookingtimetable tr:nth-of-type(1) td {
	background-color: #CFCFCF;
}

table.pos-list {
	border-collapse: collapse;
	margin-top: 1.8em;
}

table.pos-list th {
	border-top: solid 1px #000000;
	border-bottom: solid 1px #000000;
	text-align: left;
	font-weight: bold;
	padding: 5px;
}

table.pos-list td {
	min-height: 40px;
	border-bottom: solid 1px #CFCFCF;
	padding: 5px;
}

div#results table#results_table {
	border-collapse: collapse;
	font-family: sans-serif;
	font-size: 0.8em;
}

div#results table#results_table td {
	padding-right: 5px;
}

table.phonebook_people {
	border-collapse: collapse;
	width: 100%;
}

table.phonebook_people th {
	text-align: left;
	border-top: solid 1px rgb(190, 190, 190);
	border-bottom: solid 1px rgb(190, 190, 190);
	padding-top: 5px;
	padding-bottom: 5px;
}

table.phonebook_people td {
	text-align: left;
	border-bottom: solid 1px rgb(240, 240, 240);
	padding-right: 20px !important;
	padding-top: 5px;
	padding-bottom: 5px;
}

table.equipmentsearch {
	width: 100%;
	border-top: solid 1px #CFCFCF;
	margin-top: 5px;
}

table.equipmentsearch td {
	padding-top: 10px;
}

div.food_menu {
	display: block;
	clear: both;
	width: 100%;
	margin-bottom: 2em;
}

div.food_menu table {
	width: 100%;
}

div.food_menu table td {
	min-width: 9em;
}

div.food_menu table td:first-child {
	width: 100%;
}

ul.twocol {
        margin-bottom: 4px;
        padding-left: 0px;
        margin-left: 0px;
        list-style: none;
	display: block;
	clear: both;
}

ul.twocol li {
        display: inline-block;
        margin-bottom: 4px;
        font-size: 1.2em;
        padding-left: 0px;
        margin-left: 0px;
        margin-right: 10px;
        list-style: none !important;
        width: 300px;
        vertical-align: bottom;
}

table th.event_day {
	font-weight: bold;
	text-align: left;
	padding-top: 10px;
	border-bottom: solid 1px #CFCFCF;
}
